passlib
urllib3
typing-extensions
tqdm
tomlkit
sniffio
six
python-multipart
python-dotenv
pypdfium2
pyjwt
pycparser
pyasn1
Pillow
nodeenv
MarkupSafe
jiter
idna
h11
dnspython
distro
click
charset-normalizer
certifi
bcrypt
annotated-types
aiofiles
uvicorn
typing-inspection
rsa
requests
pydantic-core
jinja2
httpcore
email-validator
ecdsa
cffi
anyio
starlette
python-jose[cryptography]
pydantic
httpx
cryptography
prisma
pdfminer.six
openai
jwt
fastapi
faiss-cpu
pdfplumber
passlib[bcrypt]
